.reservations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #ece7e7;
}

.reservations-container h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 1rem;
}

.reservations-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100vw;
  height: 50vh;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #f5ecec;
}

.reservations-table td,
.reservations-table th {
  border: 1px solid rgb(163, 160, 160);
  padding: 8px;
  text-align: center;
}

.reservations-table tr:nth-child(even) { background-color: #e4dede; }

.reservations-table tr:hover { background-color: rgb(30, 201, 7); }

.reservations-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

.delete-btn {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: rgb(185, 9, 9);
  border: transparent;
  color: #fff;
}
