/* .AddDoctorCtn {
  height: 100%;
  width: 100%;
  background-color: rgb(161, 233, 175);
  display: flex;
  justify-content: center;
}

.form-ctn {
  width: 50%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 14px 80px rgba(34, 35, 58, 0.2);
  margin: 25px 0;
  padding: 10px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.img-select-ctn {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.img-select-ctn button {
  height: 100%;
  margin: auto auto auto 10px;
}

.remove-img {
  width: fit-content;
  text-align: center;
  padding: 3px;
  margin-top: 5px;
  border: none;
  border-radius: 3px;
  background: var(--red);
  color: white;
  cursor: pointer;
}

.doc-image {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

form {
  margin-top: 15px;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #2c2a2a;
  font-size: 1rem;
}

label input {
  height: 50px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.create-button {
  width: fit-content;
  text-align: center;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  background: #64ac66;
  color: white;
  cursor: pointer;
  transition: all 300ms linear 0s;
}

.create-button:hover {
  background-color: var(--green-darker);
  color: var(--white-sobber);
} */
